.logo-blogfa{
    width: 157px;
    height: 30px;
}
   .mn--toboxai{
  background-image: url('http://www.blogfa.com/static/images/backpattern.png');
  background-size: cover;
  height: 16rem;
   }
   .k{
    color: white;
   }
 


